<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
    <key>NSCameraUsageDescription</key>
    <string>Este app deseja utilizar a câmera para tirar fotos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Este app deseja utilizar as suas fotos da galeria.</string>
</dict>
</plist>
